#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.loading,
.error,
.intro-page {
  text-align: center;
  height: 700px;
}

.app {
  width: 600px;
  background-color: #f5f7fb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-page,
.quiz-page {
  color: #293264;
  border-radius: 10px;
  margin: 1rem;
  padding: 0 3rem;
}

.intro-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title,
.info {
  color: #293264;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}

.info {
  font-family: "Inter", sans-serif;
  margin-bottom: 25px;
}

.start-btn {
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  padding: 10px 40px;
  background: #4d5b9e;
  color: #f5f7fb;
}

.start-btn:hover,
.start-btn:focus,
.check-btn:hover,
.new-btn:hover {
  background: #d6dbf5;
  color: #293264;
  cursor: pointer;
}

.start-btn:active,
.check-btn:active,
.new-btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.quiz-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box {
  text-align: start;
  border-bottom: 1px solid black;
  padding: 18px 0;
  white-space: normal;
}

.question {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.check-btn,
.new-btn {
  color: #f5f7fb;
  border: none;
  border-radius: 10px;
  background-color: #4d5b9e;
  padding: 13px 23px;
  cursor: pointer;

  font-size: 16px;
  font-weight: 600;
}

.check-btn {
  margin: 0 auto;
  margin-bottom: 20px;
}

.options {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  margin-top: 15px;
}

.option-btn {
  padding: 3px 15px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
  border: 1px solid #4d5b9e;
  border-radius: 8px;
  background-color: #f5f7fb;
  cursor: pointer;
}

option-btn:active,
option-btn:focus {
  background: black;
}

.results {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.score {
  color: #293264;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
